import React from 'react';
import { render } from '@testing-library/react';

import {{properCase name}} from '..';

describe('{{properCase name}}', () => {
it('renders', () => {
const { asFragment } = render(
<{{properCase name}} />);
expect(asFragment()).toMatchSnapshot();
});
});