import React from 'react';

import {{properCase name}} from '..';

export default {
component: {{properCase name}},
title: '{{properCase name}}',
};

export const Default = () => (
<{{properCase name}} />
);